body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(79,79,79,1) 49%, rgba(231,231,231,1) 100%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container h2 {
    margin-bottom: 20px;
    color: #333;
}
.label-text {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}
.input-text {
    width: calc(100% - 22px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-align: left;
}
.checkbox-label input[type="checkbox"] {
    margin-right: 5px;
}
.checkbox-label span {
    font-size: 14px;
    color: #333;
}

h2 {
    font-size: 48px;
}